---
name: Post Merge

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build edge
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and publish docker plugin
        env:
          REPO: ghcr.io/${{ github.repository }}
          TAG_NAME: edge
        run: |-
          REPO=${{ env.REPO }} VERSION=${{ env.TAG_NAME }} make plugin
          docker plugin push "${{ env.REPO }}:${{ env.TAG_NAME }}-linux-amd64"
          docker plugin push "${{ env.REPO }}:${{ env.TAG_NAME }}-linux-arm64"
          docker plugin push "${{ env.REPO }}:${{ env.TAG_NAME }}"

          # docker does not currently support multi-arch plugins so we cannot create a list manifest
